@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --font-inter: var(--font-inter);
  --font-roboto: var(--font-roboto-mono);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-blue: #35E0CF;
  --color-white: #EDF7F6;
  --color-yellow: #DAB867;
  --color-green: #5DD49C;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  width: 1440px;
  margin: 0 auto;
  background-color: #1f1f1f;
}

.text-body{
  @apply font-extrabold leading-[100%] font-inter;
}

.text-min-body {
  @apply font-semibold leading-[100%] tracking-[0] text-[#9CB0B3] font-inter;
}
